* {
  box-sizing: border-box;

}


/* Start here */

body {
background-color: #ff009e;
font-size: 150px;
padding-right: 200px;
padding-left: 200px;
font-family: courier;
font-style: oblique;
font-kerning: auto;
margin-top: inherit;

}
